<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WEILOG</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Content/Css/BaseStyles")
    <link href="/Content/Js/switchery/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body class="sticky-header">
    <section>
        <!-- sidebar left start-->
        <div class="sidebar-left ">
            <!--responsive view logo start-->
            <div class="logo dark-logo-bg visible-xs-* visible-sm-*">
                <a href="/">
                    <span class="brand-name">Weilog</span>
                </a>
            </div>
            <!--responsive view logo end-->
            <div class="sidebar-left-info ">
                <!-- visible small devices start-->
                <div class="search-field">  </div>
                <!-- visible small devices end-->
                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked side-navigation ">
                    <li>
                        <h3 class="navigation-title">导航菜单</h3>
                    </li>
                    @*<li>
                            <a href="http://www.aspxpet.com" target="_blank">
                                <i class="fa fa-home"></i>
                                <span>Weilog 1.0</span>
                            </a>
                        </li>*@
                    <li><a href="javascript:;" data-url="@Url.Action("Welcome","Control",new { Area = "Adm" })"><i class="fa fa-home"></i> <span>控制面板</span></a></li>
                    <li><a href="javascript:;" data-url="@Url.Action("Welcome","Control",new { Area = "Adm" })"><i class="fa fa-home"></i> <span>用户管理</span></a></li>
                    <li class="menu-list">
                        <a href="javascript:;" data-url="@Url.Action("Welcome","Control",new { Area = "Adm" })"><i class="fa fa-home"></i><span>权限管理</span></a>
                        <ul class="child-list">
                            <li><a href="javascript:;" data-url="/Adm/Menu/Index/1/2/0"> 菜单管理</a></li>
                            <li><a href="javascript:;" data-url="/Adm/Role/Index/1/3/0"> 角色管理</a></li>
                            <li><a href="javascript:;" data-url="/Adm/User/Index/1/4/0"> 用户管理</a></li>
                            <li><a href="javascript:;" data-url="/Adm/Role/AuthMenus/1/5/0">角色授权</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" data-url="@Url.Action("Welcome","Control",new { Area = "Adm" })"><i class="fa fa-home"></i> <span>用户管理</span></a></li>
                    <li><a href="javascript:;" data-url="@Url.Action("Welcome","Control",new { Area = "Adm" })"><i class="fa fa-home"></i> <span>用户管理</span></a></li>
                    <li><a href="javascript:;" data-url="@Url.Action("Welcome","Control",new { Area = "Adm" })"><i class="fa fa-home"></i> <span>用户管理</span></a></li>
                </ul>
                <!--sidebar nav end-->
                <!--sidebar widget start-->
                <!--<div class="sidebar-widget">
                <h4>Weilog v3.0.0</h4>-->
                @*<h4>Copyright &copy; 2010-2018 Weilog. All Rights Reserved.</h4>*@
                @*<ul class="list-group">
                        <li>
                            <span class="label label-danger pull-right">80%</span>
                            <p>Completed</p>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-danger" style="width: 80%;">
                                    <span class="sr-only">80%</span>
                                </div>
                            </div>
                        </li>
                    </ul>*@
                <!--</div>-->
                <!--sidebar widget end-->
            </div>
        </div>
        <!-- sidebar left end-->
        <!-- body content start-->
        <div class="body-content">
            <!-- header section start-->
            <div class="header-section">
                <!--logo and logo icon start-->
                <div class="logo dark-logo-bg hidden-xs hidden-sm">
                    <a href="@Url.Action("Welcome","Control")">
                        <span class="brand-name">Weilog</span>
                    </a>
                </div>
                <div class="icon-logo dark-logo-bg hidden-xs hidden-sm">
                    <a href="@Url.Action("Welcome","Control")">
                        <img src="/Content/img/logo-icon.png" alt="" />
                        <!--<i class="fa fa-maxcdn"></i>-->
                    </a>
                </div>
                <!--logo and logo icon end-->
                <!--toggle button start-->
                <a class="toggle-btn"><i class="fa fa-outdent"></i></a>
                <!--toggle button end-->
                <!--mega menu start-->
                <div id="navbar-collapse-1" class="navbar-collapse collapse yamm mega-menu">
                    <ul class="nav navbar-nav"></ul>
                </div>
                <!--mega menu end-->
                <div class="notification-wrap">
                    <!--left notification start-->
                    <div class="left-notification" style="text-align:center">
                        @*  <h4>欢迎使用 Weilog 内容管理系统</h4>*@
                    </div>
                    <!--left notification end-->
                    <!--right notification start-->
                    <div class="right-notification">
                        <ul class="notification-menu">
                            <li>
                                <a href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <img src="/Content/img/avatar-mini.jpg" alt="">@HttpContext.Current.User.Identity.Name
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu purple pull-right">
                                    <li><a href="javascript:;">  资料</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-danger pull-right">40%</span>
                                            <span>设置</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="label bg-info pull-right">new</span>
                                            帮助
                                        </a>
                                    </li>
                                    <li><a href="@Url.Action("Logout","User")"><i class="fa fa-sign-out pull-right"></i> 注销</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--right notification end-->
                </div>
            </div>
            <!-- header section end-->
            <!-- page head start-->
            @*<div class="page-head breadcrumb">*@
            @*<i class="fa fa-home"></i>
                <ul class="breadcrumb">

                    <li><a href="#">Home</a></li>
                    <li><a href="#">2013</a></li>
                    <li class="active">十一月</li>
                </ul>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>*@
            <div class="nav">
                <ul class="breadcrumb" style="line-height: 40px;font-size:14px;background: #e8e8e8;">
                    <li style="color:#337ab7;">
                        <span class="glyphicon glyphicon-home" aria-hidden="true" style="margin-right:5px;"></span>主页
                    </li>
                    <li class="active">控制面板</li>
                </ul>
            </div>

            @*<h3 id="txtMenuNameTip">
                    <i class="fa fa-home"></i><span>首页</span><span class="divider">/</span>控制面板
                </h3>*@
            @*<span class="sub-title" id="txtMenuDescTip">Welcome to JuCheap dashboard</span>*@
            @*</div>*@
            <!-- page head end-->
            <!--body wrapper start-->
            <div class="wrapper">
                @RenderBody()
                @*<iframe id="txtContentBody" style="width:calc(100%); height: calc(100%); border: 0; margin: 0; padding: 0; min-height: 400px;overflow-y:scroll" src="@Url.Action("Welcome","Control",new { moudleId = 0, menuId = 0 , btnId = 0})"></iframe>*@
            </div>
            <!--body wrapper end-->
        </div>
        <!-- body content end-->
    </section>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/JS/Admin/jucheap/BaseScripts")
    @Scripts.Render("~/Content/JS/Layer/BaseLayer")
    @RenderSection("scripts", required: false)
</body>
</html>